.login-modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    transform: translate(95%, -200%) scale(0);
    width: 50vw;
    max-width: 767px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.25, 1, 1, 1);
    z-index: 9999;
}

.login-modal img {
    width: 40%;
    object-fit: cover;
    border: #00000000 solid 4px;
    z-index: 3;
    position: relative;
    margin-right: 5%;
}

.login-modal.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(125%);
}

.login-modal form {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    margin-top: 2vh;
    margin-right: 5%;
    gap: 15px;
}

.login-modal h2 {
    color: var(--fixed-text-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'sans-serif', monospace;
}

.login-modal input {
    padding: 10px;
    border: 1px solid var(--sidebar-bg-color);
    border-radius: 50px;
    background: var(--bg-primary);
    color: var(--fixed-text-color);
    transition: all 0.25s;
}

.login-modal input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--login-input-focus);
}

.login-modal input:hover {
    box-shadow: 0 0 10px var(--login-input-hover);
}

.login-modal button[type="submit"] {
    color: var(--fixed-text-color);
    border: none;
    margin-top: 2vh;
    padding: 10px;
    border-radius: 25px;
    background-image: var(--gradient-primary);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.login-modal button[type="submit"]:hover {
    color: #f0f0f0;
    box-shadow: 0 0 10px #0d0d0d;
}

.login-modal button[type="submit"]:active {
    transform: scale(0.9);
}

.login-btn-animate {
    position: fixed;
    z-index: 999;
    pointer-events: none;
}

.login-modal .other_options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login-modal .other_options a {
    color: var(--fixed-text-color);
    text-decoration: none;
    font-size: 0.75rem;
    padding: 10px;
    background: linear-gradient(to right, var(--fixed-text-color)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.login-modal .other_options a:hover {
    color: var(--fixed-text-color);
    background-position-x: left;
    background-size: 100% 2px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
    opacity: 0;
    transition: opacity 0.3s;
}

.modal-overlay.active {
    opacity: 1;
    width: 100%;
    height: 100%;
}