.main-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0 5vw 100px;
}

.main-content__personal-info {
    width: 100%;
}

.main-content__personal-info__avatar {
    width: 170px;
    height: 150px;
    border-radius: 20px;
}