@import url("../../indexstyle.css");

.main-content-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.personal-info-box {
    display: flex;
    flex-direction: column;
    background-color: var(--);
}